.sidebar {
  flex: 1;
  height: 100vh;
  background-color: white;
  /*position: sticky;*/
}


.logo {
  width: 150px;
}
.img_logo {
  text-align: center;
}

.sidebarSearch {
  margin: 0 10px;
}

.sidebarWrapper{
  padding: 20px;
}

.sidebarResult{
  color: black;
  margin: 10px;
}


*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
